<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="newsletter">

    <p>Sign up now and be notified when Albie launches!</p>

    <form action="//albie.us12.list-manage.com/subscribe/post?u=a0c09062cb1d4dbc989b12257&amp;id=e716efbbfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="mc-field-group">
            <label class="label" for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@domain.com">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response"></div>
            <div class="response" id="mce-success-response"></div>
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_a0c09062cb1d4dbc989b12257_e716efbbfc" tabindex="-1" value="">
        </div>

    </form>
</div>
<!--End mc_embed_signup-->
