body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
    color: #85868d;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$spacing: 30px;
