$spacing: 30px;

body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
    color: #85868d;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 2;

    img {
        height: 20px;
    }
}
